body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: o;
}
#header{
    background-image: url("images/wood-bg.png");
    background-repeat: repeat-x;
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 500;
}
#header img{
    display: block;
    height: 70%;
    margin: auto;
    padding-top: 15px;
}
/*top tabs*/
#tabs-top{
    background-color: darkgreen;
    height: 40px;
    left: 0;
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 500;
}
#tabs-top a{
    color: #fffff0;
    display: block;
    float: left;
    font-weight: 700;
    height: 35px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    width: 33%;
}
/*main*/
#main-home{
    margin-top: 120px;
}
/*bottom tabs*/
#tabs-bottom{
    background-color: forestgreen;
    bottom: 0;
    height: 40px;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 500;
}
#tabs-bottom a{
    color: #fffff0;
    display: block;
    float: left;
    font-weight: 700;
    height: 35px;
    padding-top: 12px;
    text-align: center;
    text-decoration: none;
    width: 50%;
}
/*animals page*/
#main{
    background: url('images/map-blur.png');
    background-repeat: repeat-y;
    margin-top: 119px;
}
#content{
    padding-bottom: 50px;
    padding-top: 1px;
}
a.info-box{
    background: rgba(255, 255, 255, 0.8);
    display: block;
    height: 90px;
    margin: auto;
    margin-top: 12px;
    padding: 1px;
    text-decoration: none;
    width: 90%;
}
.info-box img{
    float: left;
    height: 70px;
    margin: 10px;
}
.info-box h3{
    color: #572800;
    margin-bottom: 0;
    padding: 0;
    width: 90%;
}
.info-box p{
    color: #131313;
    margin: 0;
    padding: 0;
    width: 90%;
}
.info-box img.right{
    float: right;
    height: 40px;
    margin-top: 25px;
}
/*elephant page*/
#info-box-full{
    display: block;
    background: rgba(255, 255, 255, 0.8);
    margin: auto;
    margin-top: 12px;
    padding: 10px;
    width: 90%;
}
#info-box-full img{
    width: 100%;
}
#info-box-full h3{
    text-align: center;
}
/*weather page*/
img.info-box-weather-icon{
    float: left;
    height: 30px;
    margin: 10px;
    width: 30px !important;
}
h1.info-box-weather-icon{
    font-size: 65px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
table{
    width: 100%;
}
td{
    border-top: 1px solid #131313;
}
/*feedback page*/
input{
    border: 1px solid #929292;
    height: 25px;
    margin: 12px 0;
    width: 100%;
}
textarea{
    border: 1px solid #929292;
    height: 65px;
    margin: 12px 0;
    width: 100%;
}
.button{
    background-color: forestgreen;
    color: white;
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 0;
    padding: 8px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
}